
body{
    overflow-x: hidden;
}

.bg-navbar{
    background-color: #283593;
}

.logo-tamano{
    width: 35px;
    height: 35px;
}

.dropdown-menu{
    background-color: #5f5fc4;
    padding: 0;
}

.dropdown-item{
    padding: 10px 20px;
    color: #FFF;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #FFF;
    background-color: #001064;
}

.buscador{
    margin: auto;
}

.botones-navegador{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .carousel_imagen{
        height: calc(100vh - 65.5px);
    }
}

.subtitulo{
    margin-left: 2em;
}

.subtitulo-card{
    font-size: 15px;
    text-align: center;
}

.input_newletter{
    width: 65%;
}

.img_autor{
    bottom: 0.75em;
}

@media (max-width: 1200px){
    .footer-menu-fs{
        font-size: 16px;
    }
}

.footer_redesSociales_mobile{
    margin-top: 1.5em !important;
}

.footer_autor_img_mobile{
    position: relative;
    top: 0;
}



/*** CATALOGO IMPRESORA 3D ***/

.rangos{
    width: fit-content;
}

.form-check input{
    width: 25px;
    height: 25px;
}

.form-check label{
    line-height: 30px;
    margin-left: 0.5em;
    font-size: 18px;
}

.form-check{
    margin-left: 3em;
}

.titulo_categoria{
    margin: 1em 0;
}

@media (max-width: 1173px){
    .titulo_principal{
        font-size: 24px;
    }
}

.catalogo-impresora3D_aside{
    border-right: solid #000 3px;
    border-bottom: solid #000 3px;
}

.catalogo-impresora3D_main{
    border-bottom: solid #000 3px;
}

.caja_precio{
    height: 12vh;;
}

.catalogo-impresora3D_aside_mobile{
    background-color: #75a478;
}

.accordion-header, .accordion-button{
    background-color: #a5d6a7;
    color: #000
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #a5d6a7;
    box-shadow: none;
  }
.accordion-item{
    background-color: #d7ffd9;
}

/*** NOSOTROS ***/

.nosotros_parrafo{
    text-align: justify;
}